.lista{   
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 10px;
    text-align: center;
}
.con{
    background: linear-gradient(rgb(70%, 0%, 30%), rgb(10%, 5%, 60%));
}
.con h1{
    font-size: 25px;
    text-align: center;
}
.list{
    background: linear-gradient(rgb(10%, 0%, 30%), rgb(50%, 5%, 60%));
    color: white;
    margin: 20px 20px;
}
.list-est .nombre_estudiante{
    width: 120px;
    height: 30px;
    border: none;
    background-color: rgb(9, 217, 224);
    margin: 15px 15px;
    text-align: center;
    border-radius: 7px;
}